.wrapper
  #login
    .logo
      =image_tag("logo-login.png")

    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      = render 'layouts/messages'
      .input-prepend
        %span.add-on
          %label.fontawesome-envelope{:for => 'user_email'}
        = f.text_field :email, :required => true, :autofocus => true, class: 'prependedInput', placeholder: '電郵', label: false

      .input-prepend
        %span.add-on
          %label.fontawesome-key{:for => 'user_password'}
        = f.text_field :password, :required => true, :autofocus => true, class: 'prependedInput', placeholder: '電郵', type: 'password'

      = button_tag(:type => 'submit', :class => 'btn btn-primary btn-large btn-block', name: 'commit' ) do
        = content_tag(:strong, '登入')
        
      %p
        %label.checkbox.pull-left
          %input{:type => "checkbox"} 記住我
        %span.pull-right
          還未成為會員? 
          %a{:href => "sign_up"} 立即註冊
          %span.fontawesome-arrow-right